main {
    margin: 3em;
    display: grid;
    grid-template-columns: auto auto auto;
    height: 100vh;
    grid-gap: 4em;
  }
  

article {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    border-radius: 10px;
    height: 100%;
    background-color: black;
    cursor: pointer;
}

article.show {
    background-color:  rgba(0, 0, 0, 0.1);
}


article img{
    z-index: -100;
}

p {
    color: black;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
}








