header {
  height: 250px;
  background-color: #ef5350;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header img {
  width: 40%;
  height: 80%;
}







